<h1>Demo#hello</h1>
<p>Hello, world!</p>

<%= link_to 'Go back', {:action => 'index'}  %>

<br>
<br>
ID: <%= params[:id]  %>
<br>
ID: <%= @id  %>
<br>
Page: <%= @page + 1  %>

<hr>
<%= params.inspect %>